<div class="notification-box" (click)="openBookMark()">
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M19 4H5C3.89543 4 3 4.89543 3 6V20C3 21.1046 3.89543 22 5 22H19C20.1046 22 21 21.1046 21 20V6C21 4.89543 20.1046 4 19 4Z"
      stroke="#212529"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M16 2V6"
      stroke="#212529"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M8 2V6"
      stroke="#212529"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M3 10H21"
      stroke="#212529"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>

  calendar
</div>
<div
  class="onhover-show-div bookmark-flip"
  [class.active]="bookmarkFlip || bookmark"
  (clickOutside)="clickOutside()"
>
  <div class="flip-card">
    <div class="flip-card-inner" [class.flipped]="bookmarkFlip">
      <div class="front">
        <h3 class="f-18 mb-0 dropdown-title">Bookmark</h3>
        <ul class="bookmark-dropdown">
          <li class="front-bookmark theme-scrollbar">
            <div class="row g-1">
              @for(item of bookmarkItems; track item){
              <div class="col-4 text-center">
                <a [routerLink]="item.path">
                  <div class="bookmark-content">
                    <div class="bookmark-icon">
                      <app-svg-icon [icon]="item?.icon"></app-svg-icon>
                    </div>
                    <span>{{ item.title }}</span>
                  </div>
                </a>
              </div>
              }
            </div>
          </li>
          <li class="text-centermedia-body" (click)="flipBookMark()">
            <a class="flip-btn f-w-700" id="flip-btn" href="javascript:void(0)"
              >Add New Bookmark</a
            >
          </li>
        </ul>
      </div>
      <div class="back">
        <ul>
          <li>
            <div class="bookmark-dropdown flip-back-content position-relative">
              <input
                type="text"
                [(ngModel)]="text"
                [ngModelOptions]="{ standalone: true }"
                (keyup)="searchTerm(text)"
                placeholder="search..."
              />
              @if(menuItems.length){
              <div
                class="Typeahead-menu theme-scrollbar"
                [class.is-open]="searchResult"
                id="boomark-search-outer"
              >
                @for(item of menuItems | slice : 0 : 8; track item){
                <div class="ProfileCard u-cf">
                  <div class="ProfileCard-avatar">
                    <app-svg-icon [icon]="item?.icon"></app-svg-icon>
                  </div>
                  <div class="ProfileCard-details">
                    <div class="ProfileCard-realName d-flex">
                      <a [routerLink]="item.path" (click)="removeFix()">{{
                        item?.title
                      }}</a>
                      <span
                        class="pull-right ms-auto"
                        (click)="addToBookmark(item)"
                      >
                        <a>
                          <i
                            class="fa fa-star-o f-18"
                            [class.starred]="item.bookmark"
                          ></i>
                        </a>
                      </span>
                    </div>
                  </div>
                </div>
                }
              </div>
              }
              <div
                class="Typeahead-menu is-open"
                [class.is-open]="searchResultEmpty"
              >
                <div class="tt-dataset tt-dataset-0">
                  <div class="EmptyMessage">
                    Opps!! There are no result found.
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="check-button" (click)="flipBookMark()">
            <a
              class="f-w-500 d-block flip-back"
              id="flip-back"
              href="javascript:void(0)"
              >Back</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
