<div class="container-fluid">
  <div class="d-flex">
  <app-job-filter class="col-2" style="margin-right:10px" />
  <div class="row">
    @for(data of users; track data){
    <div class="col-xl-4 col-sm-6 col-xxl-3 col-ed-4 box-col-4">
      <div class="card social-profile">
        <div class="card-body">
          <div class="social-img-wrap">
            <div class="social-img">
              <img src="{{ data.img }}" alt="profile" />
            </div>
            <div class="edit-icon">
              <svg>
              @if (data.busy) {
                <use href="assets/svg/icon-sprite.svg#24-hour"></use>
              } @else {
                <use href="assets/svg/icon-sprite.svg#profile-check"></use>
              }
              </svg>
            </div>
          </div>
          <div class="social-details">
            <h5 class="mb-1">
              <a [routerLink]="['/social-app']">{{ data.name }}</a>
            </h5>
            <span class="f-light f-w-600">{{ data.phone }}</span>
            <!-- <ul class="card-social">
                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://accounts.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://rss.app/" target="_blank"><i class="fa fa-rss"></i></a></li>
              </ul> -->
            <ul class="social-follow">
              <li>
                <h3 class="mb-0">{{ data.posts }}</h3>
                <span class="f-light f-w-600">Missions</span>
              </li>
              <li>
                <h3 class="mb-0">{{ data.followers }}</h3>
                <span class="f-light f-w-600">Demande</span>
              </li>
              <li>
                <h3 class="mb-0">{{ data.following }}</h3>
                <span class="f-light f-w-600">Annulation</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
</div>
