<div class="chat">
  <div class="chat-header clearfix" style="display: none;">
    <div class="d-flex align-items-center">
      <img class="rounded-circle" src="assets/images/user/8.jpg" alt="" />
      <div class="flex-grow-1">
        <div class="about">
          <div class="name">
            Kori Thomas  <span class="font-primary f-12">Typing...</span>
          </div>
          <div class="status">Last Seen 3:55 PM</div>
        </div>
      </div>
    </div>
    <ul class="list-inline chat-menu-icons">
      <li class="list-inline-item">
        <a href="javascript:void(0)"><i class="icon-search"></i></a>
      </li>
      <li class="list-inline-item">
        <a href="javascript:void(0)"><i class="icon-clip"></i></a>
      </li>
      <li class="list-inline-item">
        <a href="javascript:void(0)"><i class="icon-headphone-alt"></i></a>
      </li>
      <li class="list-inline-item">
        <a href="javascript:void(0)"><i class="icon-video-camera"></i></a>
      </li>
      <li class="list-inline-item toogle-bar">
        <a href="javascript:void(0)"><i class="icon-menu"></i></a>
      </li>
    </ul>
  </div>
  <div class="chat-history">
    <div class="row">
      <div class="col text-center pe-0 call-content">
        <div>
          <div class="total-time">
            <h2>36 : 56</h2>
          </div>
          <div class="call-icons">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="javascript:void(0)"
                  ><i class="icon-video-camera"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a href="javascript:void(0)"><i class="icon-volume"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="javascript:void(0)"><i class="icon-user"></i></a>
              </li>
            </ul>
          </div>
          <button class="btn btn-warning-gradien btn-block btn-lg m-1">
            END CALL
          </button>
          <button class="btn btn-danger-gradien btn-block btn-lg m-1">
            END CALL
          </button>
          <div class="receiver-img">
            <img src="assets/images/other-images/receiver-img.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="col-sm-7 ps-0 ">
        <img
          class="img-fluid"
          src="assets/images/other-images/caller.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
