<div class="container-fluid">
  <div class="row">
    <div class="col call-chat-body">
      <div class="card">
        <div class="card-body p-0">
          <div class="row chat-box">
            <div class="col pe-0 chat-right-aside">
              <app-user-video-chat></app-user-video-chat>
            </div>
            <div class="col ps-0 chat-menu">
              <app-chat-tab></app-chat-tab>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col call-chat-sidebar">
      <app-chats></app-chats>
    </div>
  </div>
</div>
