<div class="missed-call">
  <div class="image-wrapper">
    <img
      width="50"
      height="50"
      loading="lazy"
      [ngSrc]="CDN_URL +'/uploads/customer/' + call.customer.id +'.webp'"
      alt=""
      appFallbackSvg   [first_name]="call.customer.first_name"   [last_name]="call.customer.last_name"
    />
  </div>
  <div class="info-wrapper">
    <div class="client-info">
      <span class="name">
        <!-- <i class="fa-solid fa-user"></i> -->
        {{call.customer.first_name + ' ' + call.customer.last_name}}</span
      >
      <span class="missed-calls">
        <i class="fa-regular fa-address-card"></i>
        Date et heure: 22.2.2024-16h-53 |
        <i class="fa-regular fa-address-card"></i> ID: {{call.customer.registration_number}} |
        <i class="fa-solid fa-angles-up"></i> Elevé
      </span>
    </div>
  </div>
  <div class="status-wrapper">
    <i class="fa-solid fa-circle"></i>
    <span> Appel entrant </span>
  </div>
</div>
