.call-list-wrapper {
    display: flex;
  
    .missed-calls {
      flex: 2;
      margin : 0px 10px;
      background-color: #f5f6f9;
    }
  
    .next-calls {
      flex: 2;
      margin : 0px 10px;
    }
  
    .main {
      flex: 1;
      margin : 0px 10px;
    }
  }
  