.status {
   span {
        font-size: 14px;
        font-weight: 600;
        margin-right: 10px;
    
   }
    select {
        border: 1px solid #28ca42;
        color: #28CA42;
        border-radius: 50px;
    }
    
}